/*
Theme Name: Brafé
Theme URI: www.Brafé.com
Author: In Junior
Author: www.injunior.com.br
Description: Esse tema foi criado para dar aula no treinamento 2020.2
version: 1.0
*/

*{
    box-sizing: border-box;

}
.barra{
    background: black;
    padding: 15px 0;
}

.container{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}
.menu{
    flex: 1;
    margin: 0 10px;
    align-self: center;
}

.menu a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.125em;
}
.logo{
    margin: 0 10px;
}

.menu ul li a{
    padding: 10px;
}
.titulo{
    background: url(img/bg-intro.jpg);
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    padding: 155px 0;
} 

h1{
    font-size: 40px;
    font-family: Georgia, serif;
}

p{
    font-family: Georgia;
    font-style: italic;
}


main h1:after{
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: whitesmoke;
    margin: 20px auto;
    text-align: center;
}

.secao{
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
    
}
.Dos-itens{
    Display: flex;
    text-align: center;
}

.itens-secao{
    margin: 0 10px;
    flex: 1;
}

section h2{
    margin-bottom: 50px;
    margin-top: 50px; 
    text-align: center;
    font-family: georgia, serif;
    font-size: 35px;
    
}
section div h3{
    color: whitesmoke;
    padding-top: 0px;
    padding-bottom: 50px;
    background: black;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 40px;
    font-weight: initial;
    top: -25px;
    position: relative;
    width: 210px;
    height: 20px;   
}
section p {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    max-width: 450px;
    margin: 0 auto;
    line-height: 1,5px;
}
.secao2{
    padding-top:20px;
    padding-bottom: 100px;
    background: #e7e2d5;
    border-top: 3px solid #cbbf9f;
    border-bottom: 3px solid #cbbf9f;  
}

.bolinhas{
    margin: 10px;
}

#bolinhaP{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: saddlebrown;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom:20px;
    border: 5px solid #e7e2d5;
    box-shadow: 0 0 0 5px saddlebrown;
}
    
.fonte{
    font-family: georgia serif;
    font-style: normal;
    font-size: 14px;

}

#bolinhaC{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: chocolate;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom:20px;
    border: 5px solid #e7e2d5;
    box-shadow: 0 0 0 5px chocolate;
}

#bolinhaM{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: Goldenrod;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom:20px;
    border: 5px solid #e7e2d5;
    box-shadow: 0 0 0 5px goldenrod;
}


.bolinhas{
    margin: 0 10px 40px 10px;
    flex: 1;
}
.estado{
    margin-top: 10px;
    margin-bottom: 10px;
}
.botao{
    display: block;
    font-family: georgia, serif;
    padding: 10px;
    margin: 20px auto 0 auto;
    border: 2px solid black;
    max-width: 180px;
    text-align: center;
}

.Bairros{
    padding: 20px;
    display: flex;
}

.local{
    display: flex;
    text-align: left;
}

.imagem{
    padding: 0 10px;
    text-align: left;
    width: 350px;
}

.secao3{
    padding: 100px;

}

.assinatura{
    background: #e7e2d5;
    padding:30px 0;
    
}
.outros{
    flex: 1;
    margin: 0 10px;
}

.assinatura input{
    flex: 1;
    align-self: flex-start;
    padding: 10px;
    border: 3px solid black;
    background: none;
    font-size: 20px;
    font-style: italic;
    font-family: georgia, serif;
}

.assinatura form label{
    display: none;
}
.assinatura button{
    flex: 1;
    padding: 15px;
    align-self: flex-start;
    background: black;
    border: none;
    font-family: georgia, serif;
    font-size: 1.5em;
    color: whitesmoke;
    cursor: pointer;
}
.outros h2{
    font-size: 2.25em;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}
.outros p{
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
}

.algo{
    text-align: left;
    margin: 15px;
    font-style: normal
}

h4{
    display: block;
    font-family: georgia, serif;
    padding: 10px;
    border: 3px solid black;
    max-width: 130px;
    font-weight: normal;
    text-align: center;
}

.footer{
    background: #cbbf9f;
    padding: 40px 0;
   
}

.footer p{
    font-style: normal;

}

.imagemf{
    margin: 0 200px;
}

ul {
    
    margin-left: 500px;
    display: flex;

}
a:hover{
    text-decoration: underline;
    color: whitesmoke; 
}

#bolinhaP{
    animation: mymove 2s infinite; color: saddlebrown
}


#bolinhaC{
    animation: mymove 2s infinite; color: chocolate
}
@keyframes mymove {
    50% {box-shadow: 0 0 0 7px};  
  }

#bolinhaM{
    animation: mymove 2s infinite; color: goldenrod
}

.botao:hover{
    background: black; color: whitesmoke;

}
h4:hover{
    background: black; color: whitesmoke;
}

@media (max-width: 739px) {
	.Bairros, .imagem {
		margin-left: 0px;
        margin-right: 0px;
    }
}


@media (max-width: 739px) {
	.titulo {
        padding: 60px 0;
    }
}
#paginaerro{
    font-size: 50px;

}

        










